* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: white;
    background-color: #FD6E0A;
    height: 64px;
    padding: 18px 35px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;


}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Header and navigation Style */

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

/* Banner  */

.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-sub {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-des {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}

/* Main Section */

main {
    max-width: 1140px;
    /* display: flex;
    justify-content: center; */
    margin: 0 auto;
}
section {
    margin: 130px;
}

/* About Section */

.about {
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 30px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {

    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}

.section-des {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}


.about .info-title {
    font-size: 20px;
    color: #757575;
}

.info-des {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* What I DO Style */



.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
}

.skill-des {
    color: #757575;
}

/* Resume Style */

.resume-container{
    display: flex;
    gap: 24px;
}

 .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
 .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.description{
    color: #757575;
}

.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-btn{
    margin-top: 50px;
    text-align: center;
}

/* contact Section */

.contact{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}

.contact .section-title{
    text-align: left;
}

.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}